/* -----------Clock styling----------- */
#clockContainer {
    width: 40vw;
    height: 40vw;
    background-image: url("clock.jpg");
    background-size: 100%;
    margin: auto;
  }
  
  #hour {
    height: 20%;
    width: 1.5%;
    background-color: black;
    position: relative;
    top: 28%;
    left: 48.5%;
    border-radius: 4px;
    transform-origin: bottom;
  }
  
  #minute {
    height: 28%;
    width: 1.3%;
    background-color: black;
    position: relative;
    border-radius: 4px;
    transform-origin: bottom;
    top: 1%;
    left: 48.7%;
  }
  
  #second {
    height: 35%;
    width: 1.1%;
    background-color: red;
    position: relative;
    border-radius: 4px;
    transform-origin: bottom;
    top: -34%;
    left: 48.7%;
  }
  
  #center-circ {
    background-color: black;
    height: 5%;
    width: 5%;
    border-radius: 50%;
    position: relative;
    bottom: 37%;
    left: 46.6%;
  }