/* ------------navbar Styling----------- */
* {
  padding: 0;
  margin: 0;
}

navbar ul {
  display: flex;
  background-color: rgb(43, 40, 40);
  justify-content: space-evenly;
}

.nav-items {
  padding: .6%;
}

.nav-links {
  display: inline-block;
  color: white;
  text-decoration: none;
  font-size: 190%;
  padding: 7%;
  padding-left: 20%;
  padding-right: 20%;
}

.nav-links:hover{
  /* text-decoration: underline; */
  background-color: black;
  border-radius: 15px;
  color: gray;
}
